{{> head}}

{{> navbar}}


<div class="col-8">

    <h1>Ejemplo</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quo delectus possimus adipisci doloremque maiores recusandae suscipit animi veniam. Accusantium accusamus quis, doloremque veritatis qui deserunt nobis error nesciunt sapiente?</p>
</div>

<div class="col-4">
    <img src="assets/img/bmw.jpg" class="img-thumbnail">
</div>

{{> footer}}